@page "{RestaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if (Model.Restaurant != null) {
    <h2 class="panel-heading panel">@Model.Restaurant.Name</h2>
    <div>
        Id : @Model.Restaurant.Id
    </div>
    <div>
        Location : @Model.Restaurant.Location
    </div>
    <div>
        Cuisine : @Model.Restaurant.Cuisine
    </div>
}
else {
    ViewData["Title"] = "Not Found";
    <h2 class="alert alert-danger">Restaurant Not Found exception!</h2>
}
<a asp-page="./List" class="btn btn-link">All Restaurants</a>