@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h2 class="info">Restaurant Not Found exception!</h2>
<a asp-page="./List" class="btn btn-link">back to Restaurants</a>

