@page
@model OdeToFood.Pages.Resturants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h2 class="info">Resturant Not Found exception!</h2>
<a asp-page="./List" class="btn btn-link">back to resturants</a>

